:root {
  /* Primary Colors */
  --pale-blue: hsl(225, 100%, 94%);
  --bright-blue: hsl(245, 75%, 52%);

  /* Neutral */
  --very-pale-blue: hsl(225, 100%, 98%);
  --desatured-blue: hsl(224, 23%, 55%);
  --dark-blue: hsl(223, 47%, 23%);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  background-color: var(--pale-blue);
}

.main-card-container {
  width: 90%;
  margin: 0 auto;
  height: auto;
  margin-top: 60px;
  border-radius: 20px;
  background-color: white;
}

.main-card--image img {
  width: 100%;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}
